ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.summary {
    margin-bottom: 20px;
    border-bottom: 1px dashed #fff;
    line-height: 1.4;
}

.summary em,
.summary strong,
.summary b,
.summary i {
    color: #FFCE2F;
}

.genres li {
    padding: 0.5em;
    border: 1px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.genres li + li {
    margin-left: 0.5em;
}

.genres h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    color: #FFCE2F;
}

.various-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.various-info h2 {
    font-size: 12px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
    text-transform: uppercase;
    color: #FFCE2F;
}

.various-info li {
    padding: 1em;
    text-align: center;
}

.various-info li + li {
    border-left: 1px dashed #fff;
}

.various-info a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid;
    border-bottom-color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    transition: border-bottom-color .3s ease;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.various-info a:hover {
    border-bottom-color: #FFCE2F;
}

@media screen and (max-width:500px) {
    .various-info,
    .various-info li {
        display: block;
    }
    .various-info li + li {
        border-left: 0;
    }
    .various-info a {
        display: inline-block;
    }
}